:root {
  --glaucous: #7880b5ff;
  --super-light-grey: #e8ebed;
  --antiflash-white: #eff1f3ff;
  --platinum: #dde1e4ff;
  --orange: #ff5555;
  --borders: #ced4da;
}

* {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  max-height: 100vh;
  max-width: 800px;
  margin: 0 auto;
}

main {
  background-color: var(--antiflash-white);
}
